# OS
.DS_Store

# Dependencies
node_modules/

# Build output
dist/
.astro/

# Env / secrets
.env
.env.local
.env.production
.claude/settings.local.json

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
